BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_DNSMASQ=y
BR2_PACKAGE_HOSTAPD=y
# Network Time Protocol, provides things like ntpd, ntpdate, ntpq, etc...
BR2_PACKAGE_NTP=y
# SSH protocol suite of network connectivity tools, the standard 'ssh', 'sshd', 'scp' and so on.
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_AP_SUPPORT=y
BR2_PACKAGE_WPA_SUPPLICANT_AUTOSCAN=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA_CLIENT_SO=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
# Someone will use ssh to login
BR2_TARGET_GENERIC_ROOT_PASSWD="rockchip"
