RV_PRODUCT_LOCK=y
RV_PRODUCT_TYPE="LOCK"
RV_LCD_RESOLUTION="360x640"
RV_LCD_BACKLIGHT_HIGH=250
RV_LCD_BACKLIGHT_MEDIAN=200
RV_LCD_BACKLIGHT_LOW=150
RV_BOARD_VERSION="rv1108-lock-evb-sl-v10"

#
# face_service setting options
#
RV_TARGET_MAIN_APP_PRE_FACE_ROTATE=90

#
# lock app setting options
#
# RV_TARGET_LOCK_APP_UI_PROJECT1 is not set
RV_TARGET_LOCK_APP_UI_SAMPLE=y
RV_TARGET_LOCK_PROJECT_TYPE="SAMPLE"
# RV_TARGET_LOCK_ENABLE_SCREEN_CAPTURE is not set
RV_TARGET_LOCK_ENABLE_DISP_HOLD=y

#
# librkuvc setting options
#
RV_TARGET_UVC_FORMAT_FILE="sl"
# RV_TARGET_YUYV_AS_RAW is not set
RV_TARGET_CONFIG_UVC_RGA=y
# RV_TARGET_USE_ADB is not set
RV_TARGET_ISP_TO_UVC_SEQ=1
RV_TARGET_CIF_TO_UVC_SEQ=0
# RV_TARGET_VENDOR_STORAGE is not set

#
# libcamerahal options
#
RV_TARGET_LIBCAMERAHAL_USE_IQ_BIN=y
RV_TARGET_LIBCAMERAHAL_IQ_BIN_NAME="CamIqData.db.ov5695_D1741"

#
# framebuffer
#
RV_TARGET_HDMI_MAX_720=y
