# rockchip storage links: /dev/disk/by-partlabel

ACTION=="remove", GOTO="rockchip_storage_end"
ENV{UDEV_DISABLE_ROCKCHIP_STORAGE_RULES_FLAG}=="1", GOTO="rockchip_storage_end"

SUBSYSTEM!="block", GOTO="rockchip_storage_end"
KERNEL!="mmcblk*[0-9]|sd*|rknand*", GOTO="rockchip_storage_end"

# ignore partitions that span the entire disk
TEST=="whole_disk", GOTO="rockchip_storage_end"

# for partitions import parent information
ENV{DEVTYPE}=="partition", IMPORT{parent}="ID_*"

# for rknand parameter partition name
ENV{DEVNAME}=="/dev/rknand*", ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/virtual/block/rknand", ENV{ID_RKNAND_PART_NAME}=""

# for rknand gpt partition name by-partlabel link
ENV{DEVTYPE}=="partition", ENV{PARTNAME}=="?*", SYMLINK+="disk/by-partlabel/$env{PARTNAME}"

LABEL="rockchip_storage_end"
