BR2_aarch64=y
BR2_DL_DIR="$(TOPDIR)/download"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_4_4=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_ROOTFS_OVERLAY="board/rockchip/px30/fs-overlay-recovery"
BR2_PACKAGE_ROCKCHIP=y
BR2_PACKAGE_PX30=y
BR2_PACKAGE_ADBD=y
# BR2_PACKAGE_ROCKCHIP_UTILS is not set
# BR2_PACKAGE_CYPRESS_BSA is not set
BR2_PACKAGE_RECOVERY=y
BR2_PACKAGE_UPDATE=y
BR2_PACKAGE_UEVENTD=y
BR2_PACKAGE_RKUPDATE=y
BR2_PACKAGE_IO=y
BR2_PACKAGE_OPENSSL=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
# BR2_TARGET_ROOTFS_TAR is not set
