#include "tinyrootfs.config"
#include "puma_arm.config"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_ROOTFS_POST_BUILD_SCRIPT="build/post-build-tinyrootfs.sh"
# BR2_PACKAGE_EUDEV_ENABLE_HWDB is not set
